<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenidos!</h1>
        <p class="lead">Esta es una pagina de prueba del reto que me asignaron en Xegmenta</p>
        <hr class="my-4">
        <a class="btn btn-info btn-lg" href="/userList" role="button">Lista de usuarios</a>
        <a class="btn btn-success btn-lg" href="/userCreate" role="button">Registrar usuario</a>
      </div>
</body>
</html>